<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:annotation-config/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/unikabank?useTimezone=true&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="admin"/>
    </bean>

    <bean id="SessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>

        <property name="annotatedClasses">
            <list>
                <value>com.mycompany.model.User</value>
                <value>com.mycompany.model.Colaborador</value>
                <value>com.mycompany.model.PessoaJuridica</value>
                <value>com.mycompany.model.PessoaFisica</value>
                <value>com.mycompany.model.Agencia</value>
                <value>com.mycompany.model.Conta</value>
                <value>com.mycompany.model.Cartao</value>
                <value>com.mycompany.model.TipoDeConta</value>
                <value>com.mycompany.model.TipoDeCartao</value>
            </list>
        </property>
    </bean>

    <bean id="userDao" class="com.mycompany.DAO.DaoUser">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

    <bean id="colaboradorDao" class="com.mycompany.DAO.DaoColaborador">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

    <bean id="agenciaDao" class="com.mycompany.DAO.DaoAgencia">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

    <bean id="genericDao" class="com.mycompany.DAO.GenericDao">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

    <bean id="pfDao" class="com.mycompany.DAO.DaoPF">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

    <bean id="pjDao" class="com.mycompany.DAO.DaoPJ">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

    <bean id="tipoDeContaDao" class="com.mycompany.DAO.DaoTipoDeConta">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

    <bean id="userService" class="com.mycompany.control.ServiceUser">
        <property name="userDao" ref="userDao"/>
        <property name="genericDao" ref="genericDao"/>
    </bean>

    <bean id="agenciaService" class="com.mycompany.control.ServiceAgencia">
        <property name="genericDao" ref="genericDao"/>
        <property name="agenciaDao" ref="agenciaDao"/>
    </bean>

    <bean id="colaboradorService" class="com.mycompany.control.ServiceColaborador">
        <property name="colaboradorDao" ref="colaboradorDao"/>
        <property name="genericDao" ref="genericDao"/>
        <property name="agenciaService" ref="agenciaService"/>
    </bean>

    <bean id="pfService" class="com.mycompany.control.ServicePF">
        <property name="pfDao" ref="pfDao"/>
        <property name="genericDao" ref="genericDao"/>
    </bean>

    <bean id="pjService" class="com.mycompany.control.ServicePJ">
        <property name="pjDao" ref="pjDao"/>
        <property name="genericDao" ref="genericDao"/>
    </bean>

    <bean id="tipoDeContaService" class="com.mycompany.control.ServiceTipoDeConta">
        <property name="daoTipoDeConta" ref="tipoDeContaDao"/>
        <property name="genericDao" ref="genericDao"/>
    </bean>

    <bean id="loginService" class="com.mycompany.control.ServiceLogin">
        <property name="serviceUser" ref="userService"/>
    </bean>

    <bean id="perfilService" class="com.mycompany.control.ServicePerfil">
    </bean>


</beans>